AuthType Basic
AuthName "Restricted Files"
AuthBasicProvider file
AuthUserFile /var/www/nisekocms/kutchannel.net/passwords
Require user chris

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]