html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top:70px;
  margin-bottom: 60px;
}

h1,h2,h3,h4,h5,h6,h7 {
	margin:0px;
	font-family: "Times New Roman", Times, serif;
	font-weight:bold;
}

.jagaBadge {
	position:absolute;
	right:10px;
	background-color: #666;
	padding-left:2px;
	padding-right:2px;
    text-align: right;
	color:#fff;
}

.checkbox-inline {margin-top:0;margin-left:0px;margin-right:10px;}
.checkbox-inline+.checkbox-inline {margin-top:0;margin-left:0px;margin-right:10px;}

.jagaFormButton {

}

.jagaFormValidationError {
	background-color:#f2dede;
}

div.jagaContentPanelHeading {
	overflow-y:hidden;
}

textarea#contentComment {
	/* margin:10px; */
}

a.jagaListGroupItem {

}

a.jagaListGroupItemMore {
	text-align:right;
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
}

span.jagaListGroup {

}

span.jagaListGroup > img {
	width:auto;
	margin:0px auto 0px auto;
}

span.jagaListGroupBadge {
	float:right;
	display:block;
	background-color: #666;
	margin:0px 0px 2px 2px;
	padding-left:2px;
	padding-right:2px;
    text-align: right;
	color:#fff;
}

div#contentCoordinatesMap {
	height:200px;
	width:auto;
}

/* NAVBAR ACTION */

.navbar {
  background-color:#FFFF99;
}

.navbar-brand {
	font-family: "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:150%;
}

#kLogo {
	margin-top:5px;
	width:300px;
}

.jagaDrop {
	width:200px;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	background-color:#FFFF99;
	padding-top:10px;
}

@media (max-width:767px) {
	#kLogo {
		margin-left:5px;
		margin-top:10px;
		width:250px;
	}
	.jagaDrop {
		width:300px;
	}
}

span.jagaListGroup iframe { width:100%; height:100%; }

.panel { border-radius:0; }

.panel-heading {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.jagaListGroupItem { /* border:none; */ }
.jagaListGroupItem:nth-child(odd) { background-color: #eee; }
.jagaMessagePanel { margin-bottom:0px; }
.jagaMessagePanelBody { padding-bottom:0px; padding-top:8px; }
.jagaMessagePanelGroup { margin-bottom:0px; }
.jagaContentViewImage:hover { cursor:pointer; }

div#panelBodyContent {
	white-space:pre-line;
	overflow-x:auto;
	overflow-y:hidden;
	margin-top:10px;
	margin-bottom:10px;
}

div#map-canvas {
	background-color:#ccc;
	padding:10px;
}

div#map-canvas iframe {
	display:block;
	border:0px;
	height:300px;
	width:100%;
}

/*
					 \++================================|                    _=_
					  \_________________________________/              ___/==+++==\___
								   """\__      \"""       |======================================/
										 \__    \_          / ..  . _/--===+_____+===--""
											\__   \       _/.  .. _/         `+'
											   \__ \   __/_______/                      \ /
											  ___-\_\-'---==+____|                  ---==O=-
										__--+" .    . .        "==_                     / \
										/  |. .  ..     -------- | \
										"==+_    .   .  -------- | /
											 ""\___  . ..     __=="
												   """"--=--""

*/