html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top:70px;
  margin-bottom: 60px;
}

h1,h2,h3,h4,h5,h6,h7 {
	margin:0px;
	font-family: "Times New Roman", Times, serif;
	font-weight:bold;
}

.jagaBadge {
	position:absolute;
	right:10px;
	background-color: #666;
	padding-left:2px;
	padding-right:2px;
    text-align: right;
	color:#fff;
}

.checkbox-inline {margin-top:0;margin-left:0px;margin-right:10px;}
.checkbox-inline+.checkbox-inline {margin-top:0;margin-left:0px;margin-right:10px;}

.jagaFormButton {

}

.jagaFormValidationError {
	background-color:#f2dede;
}

div.jagaContentPanelHeading {

}

textarea#contentComment {
	/* margin:10px; */
}

a.jagaListGroupItem {

}

a.jagaListGroupItemMore {
	text-align:right;
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
}

span.jagaListGroup {

}

span.jagaListGroupBadge {
	float:right;
	display:block;
	background-color: #666;
	margin:0px 0px 2px 2px;
	padding-left:2px;
	padding-right:2px;
    text-align: right;
	color:#fff;
}

div#contentCoordinatesMap {
	height:200px;
	width:auto;
}

/* NAVBAR ACTION */

.navbar {
  background-color:#FFFF99;
}

.navbar-brand {
	font-family: "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:150%;
}

#kLogo {
	margin-top:5px;
	width:300px;
}

.jagaDrop {
	width:200px;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	background-color:#FFFF99;
	padding-top:10px;
}

@media (max-width:767px) {
	#kLogo {
		margin-left:5px;
		margin-top:10px;
		width:250px;
	}
	.jagaDrop {
		width:300px;
	}
}

@media (max-width: 991px) {
	
	/* NAVBAR COLLAPSE */
	.navbar-header { float: none; }
	.navbar-toggle { display: block; }
	.navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
	.navbar-collapse.collapse { display: none!important; }
	.navbar-nav { float: none!important; margin: 7.5px -15px; }
	.navbar-nav>li { float: none; }
	.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
	.navbar-collapse.collapse.in { display: block!important; }
	.collapsing { overflow: hidden!important; }

}


span.jagaListGroup iframe { width:100%; height:100%; }

.panel { border-radius:0; }

.panel-heading {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.jagaListGroupItem {
	/* border:none; */
}

.jagaListGroupItem:nth-child(odd) { background-color: #eee; }

/*
                                :.. :IVVYYYXRI,
                                tXXWMMXVWWRBBMB:
                                +VRBMMRVi,. ,iBM+
                       ,::;;;;;VWBBRMMXi;:,..,YMV
                   :+i+;:,,,,:;RWRRWMMRMMWiMV+iMMi
                   i::,,,:iIit++iWYRMWWMBViIMMYMVi, .
                   :Y+,;IY;,    ,:XBMXR;;VI:,ttMBi+.:.
                    ,YV;,,:+i:.  +RBMMMVIWB;+WMMBVI:.
                      ;VI;,..;titIiRMMMBWtiYIMMMM+Vi
                        iXY+::,::,YBYIYRRBBIYMMMMMR,
                         .+YVi+;++.;WWXBYt:iRiiiIi+i:
                            ,tVi+V;t:i+i::iV:;;Y:,.:I,
                              .:XRYiIi;::;::::t:,,,,;I
                                :WVItIIItiIIIIi:,;:::I+
                                +XIIttXYi;;+YttIIY:::+I.
                               ,VIIIXBMRtVt+iXIItR+::;Y:
                               WVYYVYWBRRBMMt;;YYBX;::t+
                               IRYYIYVXVYYYXWRi+IVWY::;I
                               .BBXIIIIVYYVVYXBI++iYt;:Y,
                                iBWWIIIVIYYWYYXMWiii++iii
                                iMVIWIIYVXVVXIYV.RWYYt+tV.
                                YBXIXIIIIYYIXIB:  +XBXYtt.
                              .IWVYYXIIIIIIIYIW.    .tVI.
                              YXVYYVYIIIIIIIYIV,
                             iRYYYIYIIIIIIIIItY,
                             WMWVYYYIIIIIIIIIIYi
                            iRVMMBWVVYYIIIIItItY,
                          .,BViiYXRBRVYYIttIIItVi
                          .+BXIiYVi+tVVXXYIIYXWY;.
                         ,,RXY++iYXXYtiiVXXV+:,+t:
                         .IBVYi+;;IYX;:it+;;::;iV.
                          YBVYt+;;iXVYIYii++:;;Yt
                          YBVYtt+;iIBWVIt++;;++Vi
                          IBXYtti+iXBVVIi++;;++X.
                          :BXVIti+iMWXYti+;:;+I+
                           RWVItt+VMWVIt+;;;+iX.
                           YBXYItiMBXYIt+;;+iVi
                           ,MWVItIMRVIti+;++IV.
                           .RRXItWBWYtti+++tX,
                            tBWVYBBVItti+itV+
                            ,RWXWMRYItiiiiVi
                             WRXRMXItiiiiVt
                             iBXRBVItiitYI.
                             .MWWBYIttIYV.
                              XRWBYIiIYVi
                              tRXMIiiVYX;
                              tRXBBVWYiYt
                              YXVRRWItIIY+
                              XXVXRWXVVYIY:
                              WVVXBRWWXVYY;
                              RVVVBRWRWXVVi
                              RXVVWBWBRXVV+
                              XXVVXBRBRXVX;
                              tXVIiRBBBWVX;
                              ;XVtiYRBBWVX;
                              .XVt+ItRBXVX:
                               iWI+II;BXVW:
                               .RI+iI;RVVW;
                                tXiiIXWVVW+
                                +RIiIBVYXW,
                                 WXtIXVXW,
                                tBWVYRWW:
                              .iMMXYIRY.
                              iRMMXVIW:
                              +WXXRXVX:
                                 tBYVVi
                                :RYtiVV,
                                :RXRRRWi
                                  ..:::.
*/